!!!
%html(lang="en")
%head
  %meta(charset="utf-8")
  %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %title Pulseband
  %link(href="/css/bootstrap.css" rel="stylesheet")
  %link(href="/font-awesome/css/font-awesome.css" rel="stylesheet")
  %link(rel="stylesheet" href="/css/angular-chart.css")
  %link(rel="stylesheet" href="/css/style.css")
  %body(ng-app="myApp")
    %section#container(ng-controller="MainController")
        /header
        %header.header {{title}}
          %div.sidebar-toggle-box 
              %div(data-placement="right" data-original-title="Toggle Navigation").fa.fa-bars
          /logo
          %a.logo(href="index.html") 
            %b Pulseband
          %div.top-menu 
            %ul.nav.pull-right.top-menu
              %li
                %div.nav.notify-row#top_menu 
                  / notifications
                  %ul.nav.top-menu 
                      /settings
                      %li.dropdown 
                          %a(data-toggle="dropdown" href="index.html").dropdown-toggle
                              %i.fa.fa-tasks 
                              %span.badge.bg-theme 4
                          %ul.dropdown-menu.extended.tasks-bar 
                              %div.notify-arrow.notify-arrow-green 
                              %li 
                                %p.green You have 2 timestamps to review
                              %li 
                                %a(href="index.html")
                                  %div.desc Sep 21, 5:30pm
                                    %div.loc At Work
                              %li 
                                %a(href="index.html")
                                  %div.desc Sep 21, 5:30pm
                                    %div.loc At Work      
                              %li.external 
                                %a(href="#") See All Timestamps
                      /inbox dropdown
                      %li#header_inbox_bar.dropdown 
                          %a(data-toggle="dropdown" href="index.html").dropdown-toggle
                              %i.fa.fa-envelope-o 
                              %span.badge.bg-theme 1
                          %ul.dropdown-menu extended inbox 
                              %div.notify-arrow.notify-arrow-green 
                              %li 
                                %p.green You have 1 new message
                              %li 
                                %a(href="index.html")
                                  %span.photo" 
                                    %img(alt="avatar" src="/img/ui-zac.jpg")
                                  %span.subject 
                                  %span.from Zac Snider
                                  %span.time Just now
                                  %span.message Hi mate, how is everything?
                              %li 
                                %a(href="index.html")
                                  %span.photo
                                    %img(alt="avatar" src="/img/ui-divya.jpg")
                                  %span.subject 
                                  %span.from Divya Manian
                                  %span.time 40 mins.
                                  %span.message Hi, I need your help with this.
                              %li 
                                %a(href="index.html")
                                  %span.photo
                                    %img(alt="avatar" src="/img/ui-danro.jpg")
                                  %span.subject 
                                  %span.from Dan Rogers
                                  %span.time 2 hrs.
                                  %span.message Love your new Dashboard.
                              %li 
                                %a(href="index.html")
                                  %span.photo
                                    %img(alt="avatar" src="/img/ui-sherman.jpg")
                                  %span.subject 
                                  %span.from Dj Sherman
                                  %span.time 4 hrs.
                                  %span.message Please, answer asap.
                              %li 
                                %a(href="index.html") See all messages
              %li 
                %a(href="login.html").logout Logout
        /Main Sidebar
        %aside 
          %div#sidebar.nav-collapse  
              /sidebar menu
            %ul.sidebar-menu#nav-accordion 
                %p.centered
                  %a(href="profile.html") 
                    %span.li_user
                %h5.centered {{ username }}
                %li.mt 
                  %a(href="index.html").active
                    %i.fa.fa-dashboard 
                    %span Dashboard
                %li.sub-menu 
                  %a(href="#")
                    %i.fa.fa-bar-chart-o 
                    %span  Graphs
                  %ul.sub 
                    %li 
                      %a(href="timestamps.html") Timestamps
                    %li 
                      %a(href="steps.html") Steps Taken
        /main content
        %section#main-content
          %section.wrapper 
            %div.row 
              %div.col-lg-9.stats
                %h3 Current Stats
                %div.row.mtbox 
                  %div.col-md-2.col-sm-2.col-md-offset-1.box0 
                    %div.box1 
                      %span.li_heart 
                      %h3 Pulse 
                      %p {{ health[0].bpm }} beats per minute
                  %div.col-md-2.col-sm-2.box0 
                    %div.box1 
                      %span.li_cloud 
                      %h3 +48
                      %p 48 New files were added in your cloud storage.
                  %div.col-md-2.col-sm-2.box0 
                    %div.box1 
                      %span.li_stack 
                      %h3 23
                      %p You have 23 unread messages in your inbox.
                  %div.col-md-2.col-sm-2.box0 
                    %div.box1 
                      %span.li_news 
                      %h3 +10   
                      %p More than 10 news were added in your reader.
                  %div.col-md-2.col-sm-2.box0 
                    %div.box1 
                      %span.li_data 
                      %h3 OK!
                      %p Your server is working perfectly. Relax & enjoy.
                    /CUSTOM CHART
              %div.row.col-lg-9.zoom
                %h3.col-lg-4 Zoomable History
                %div.col-lg-2.dropdown.goright
                  %button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") Timeframe
                  %span.caret
                  %ul.dropdown-menu.dropdown-menu-right
                    %li
                      %a.sixMonths(href="#") Last 6 Months
                    %li
                      %a(href="#").thisMonth This Month
                    %li
                      %a(href="#").thisWeek This Week
                    %li
                      %a(href="#").today Today
                %div.col-lg-9#chartContainer(style="height: 500px; width: 100%;")
              %div.row.border-head(ng-Controller="ChartController")
                %h3 History with Timestamps
                %div.col-lg-9
                  %div.dropdown.goright
                    %button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" ng-model="timeframe") Timeframe
                    %span.caret
                    %ul.dropdown-menu.dropdown-menu-right
                      %li
                        %a(href="#") Last 6 Months
                      %li
                        %a(href="#") This Month
                      %li
                        %a(href="#") This Week
                      %li
                        %a(href="#") Today
                  %h3 Timeframe: {{timeframe}}
                  %canvas#line.chart.chart-line.angular-chartjs-line-chart.col-lg-6(data="data" labels="labels" legend="true" series="series" options="options")
                %form.col-lg-2.select-metrics
                  %label(ng-repeat="metric in metrics")
                    %input(type="checkbox" name="metrics.name" value="{{metric.name}}" ng-model="metric.selected" ng-click="update")
                    {{metric.name}}
              / %div.row
              /   %h3 Line Chart using Chart.js
              /   %div.col-lg-9
              /     %canvas#lineChart.chartjs-line-chart
              %div.row.custom-bar-chart.col-lg-9
                %h3 Steps Taken
                %div.dropdown.goright
                    %button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") Timeframe
                    %span.caret
                    %ul.dropdown-menu.dropdown-menu-right
                      %li
                        %a(href="#") Last 6 Months
                      %li
                        %a(href="#") This Month
                      %li
                        %a(href="#") This Week
                      %li
                        %a(href="#") Today
                %ul.y-axis 
                  %li 
                    %span 10
                  %li 
                    %span 8
                  %li 
                    %span 6
                  %li 
                    %span 4
                  %li 
                    %span 2
                  %li 
                    %span 0
                %div.bar 
                  %div.title Mon
                  %div.value(data-toggle="tooltip" data-placement="top" data-title="8.5" style="height: 85%;")
                %div.bar  
                  %div.title Tu
                  %div.value.tooltips(data-original-title="5.000" data-toggle="tooltip" data-placement="top" style="height: 50%;")
                %div.bar  
                  %div.title Wed
                  %div.value.tooltips(data-original-title="6.000" data-toggle="tooltip" data-placement="top" style="height: 60%;")
                %div.bar  
                  %div.title Th
                  %div.value.tooltips(data-original-title="4.500" data-toggle="tooltip" data-placement="top" style="height: 45%;")
                %div.bar 
                  %div.title Fri
                  %div.value.tooltips(data-original-title="3.200" data-toggle="tooltip" data-placement="top" style="height: 32%;")
                %div.bar  
                  %div.title Sat
                  %div.value.tooltips(data-original-title="6.200" data-toggle="tooltip" data-placement="top" style="height: 62%;")
                %div.bar 
                  %div.title Sun
                  %div.value.tooltips(data-original-title="7.500" data-toggle="tooltip" data-placement="top" style="height: 75%;")
  /js placed at the end of the document so the pages load faster
  %script(src="js/angular.js")
  %script(src="https://code.jquery.com/jquery-1.8.3.js")
  %script(src="/js/canvasjs.min.js")
  %script(src="/js/ZoomChart.js")
  %script(src="/js/Chart.js")
  %script(src="/js/angular-chart.js")
  %script(src="/js/bootstrap.min.js")
  %script(type="text/javascript" src="/js/jquery.dcjqaccordion.2.7.js")
  %script(src="/js/app.js")
  %script(src="/js/MainController.js")
  %script(src="/js/ChartController.js")
  /common script for all pages
  %script(src="/js/script.js")
  /scripts for this page


  

